@charset "UTF-8";

body {
  margin: 0;
}

h1 {
  float: left;
  font-family: 'Comfortaa';
  margin-left: 27px;
  color: #aaaead;
}

h2 {
  font-family: 'Comfortaa';
    color: #aaaead;
    padding-bottom: 12px;
    border-bottom: 2px solid #292929;
    background: #292929;
    padding: 42px 30px 30px 30px;
    width: 103%;
    margin: -20px 0px 21px -24px;
    box-shadow: 10px 10px 5px #00000021;
}

.editor {

  background-color: #1a1b1f;
  float: left;

  width: 30%;
  height: 100%;

}

.preview{

  background-color: white;
  float: left;
  width: 66%;
  height: 30%;
}

.css{

  background-color: #151515;
  float: left;
    width: 66%;
    height: 66%;
    border-radius: 0px 16px 16px 0px;

}

div#hlavicka {
  float: left;
  width: 90%;
}

div#nastaveni {
  float: left;
  width: 88%;
  margin: 42px 28px;
}

p{
  float: right;
}

#check {

  font-size: 40px;
  margin-top: 11px;
  color: #424242;
}


@media screen and (max-width: 730px)   {
  .editor, .preview, .css{
      width:100%;   
      float:none;
  }
  
}

.selecthor{


border-radius: none ;
animation: mymove 5s infinite;


}

.selecthor select{
  text-align: center;
  height: 60px;
  background-color: #3a3a3a;
  color: #aaaead;
  padding: 20px;
  width: 99%;
  border: none  !important;
  font-size: 20px;
  -webkit-appearance: none;
  outline: none;
  font-family: 'Comfortaa';
  box-shadow: 10px 10px 5px #00000021;
}

.selecthor select:hover{
  background-color: #5c5c5c;

}


#previewItem {
  display: inline-block;
  margin-top: 10%;
  margin-left: -100px;
  border: solid;
}

div#nahled {
  width: 100%;
  height: 100%;
  vertical-align: middle;

}



div#graphicHorizontal {
  margin: 10px 0;
  height: 40px;
  width: 100%;
  float: left;
}

div#graphicHorizontal label {
  font-size: 20px;
  font-family: 'Comfortaa';
  margin-right: 24px;
  color: #aaaead;
  float: left;
  padding-top: 11px;
}


div#graphicHorizontal input {

  width: 59%;
  height: 31px;
  background: #3a3a3a;
  border: none;
  color: #bfbfbf;
  font-size: 20px;
  font-family: 'Comfortaa';
  padding: 20px;
  float: right;
}


div#graphicVertical {
  margin: 10px 10px;
  height: 66px;
  width: 200px;
  float: left;
}

div#graphicVertical label {
  font-size: 20px;
  font-family: 'Comfortaa';
  color: #aaaead;
  margin: 11px 0px;
}


div#graphicVertical input {
  width: 100%;
  height: 31px;
  background: #3a3a3a;
  border: none;
  color: #bfbfbf;
  font-size: 20px;
  font-family: 'Comfortaa';
  padding: 20px;
  margin-top: 6px;
}



div#divBox {
  overflow-y: scroll;
  -ms-overflow-style: none;
  background: #151515;
  padding: 17px;
  border-radius: 16px;
  margin: 25px 0px;
  box-shadow: 0px 4px 11px #0c0c0ce8; 
}

div#localNastaveni {
  overflow-y: scroll;
  max-height: 72%;
  border-radius: 16px;
  -ms-overflow-style: none;
}

div#localNastaveni::-webkit-scrollbar {
    display: none;
}

div#divBox::-webkit-scrollbar {
  display: none;
}


