@charset "UTF-8";

body {
  margin: 0;
}

h1 {
  float: left;
  font-family: 'Comfortaa';
  margin-left: 27px;
  color: #aaaead;
}

.editor {

  background-color: #1a1b1f;
  float: left;

  width: 30%;
  height: 100%;

}

.preview{

  background-color: white;
  float: left;
  width: 66%;
  height: 30%;
}

.css{

  background-color: #1e1f26;
  float: left;
    width: 66%;
    height: 66%;

}

div#hlavicka {
  float: left;
  width: 90%;
}

div#nastaveni {
  float: left;
  width: 90%;
}

p{
  float: right;
}

#check {

  font-size: 40px;
  margin-top: 11px;
  color: #424242;
}


@media screen and (max-width: 750px)   {
  .editor, .preview, .css{
      width:100%;   
      float:none;
  }
  
}

.selecthor{


border-radius: none ;
animation: mymove 5s infinite;


}

.selecthor select{
  text-align: center;
  height: 60px;
  background-color: #3a3a3a;
  color: #aaaead;
  padding: 20px;
  width: 99%;
  border: none  !important;
  font-size: 20px;
  -webkit-appearance: none;
  outline: none;
  font-family: 'Comfortaa';
}

.selecthor select:hover{
  background-color: #5c5c5c;

}


#previewItem {
  display: inline-block;
  margin-top: 10%;
  margin-left: -100px;
}

div#nahled {
  width: 100%;
  height: 100%;
  vertical-align: middle;

}